.Slider {display: flex; align-items: center;}
.Slider--vertical {flex-direction: column;}
.Slider-label {flex: none; width: 50px;}
.Slider--vertical .Slider-label {}
.Slider-control {flex: 1;}
.Slider--vertical .Slider-control {
  display: block;
  margin: 0 auto;
  -webkit-appearance: slider-vertical;
  width: 20px;
}
.Slider-value {flex: none; width: 50px;}
.Slider--vertical .Slider-value {}
