<div class="Synth">
  <fieldset>
    <legend>General</legend>

    <slider param="$ctrl.instrument.params.master" ng-model="$ctrl.instrument.params.master.value"></slider>
    <label><input type="checkbox" ng-model="$ctrl.instrument.params.mute.value"> Mute</label>
    <div>
      <label>Preset</label>
      <select ng-model="$ctrl.preset" ng-options="preset.name for preset in $ctrl.instrument.presets track by preset.id" ng-change="$ctrl.updatePreset($ctrl.preset)"></select>
    </div>
  </fieldset>

  <fieldset>
    <legend>Plugin</legend>

    <div ng-switch="$ctrl.instrumentId">
      <synth-trinity ng-switch-when="trinity" instrument="$ctrl.instrument"></synth-trinity>
    </div>
  </fieldset>

  <fieldset>
    <legend>Filter</legend>

    <label>Type</label>
    <select ng-model="$ctrl.instrument.params.filterType.value" ng-options="item for item in $ctrl.instrument.params.filterType.values"></select>
    <slider param="$ctrl.instrument.params.filterCutoff" ng-model="$ctrl.instrument.params.filterCutoff.value"></slider>
    <slider param="$ctrl.instrument.params.filterGain" ng-model="$ctrl.instrument.params.filterGain.value"></slider>
    <slider param="$ctrl.instrument.params.filterQ" ng-model="$ctrl.instrument.params.filterQ.value"></slider>
  </fieldset>

  <fieldset>
    <legend>Envelopes</legend>

    <fieldset>
      <legend>Gain</legend>

      <label><input type="checkbox" ng-model="$ctrl.instrument.params.gainEnv.enabled.value"> Enable</label>
      <slider param="$ctrl.instrument.params.gainEnv.attack" ng-model="$ctrl.instrument.params.gainEnv.attack.value"></slider>
      <slider param="$ctrl.instrument.params.gainEnv.decay" ng-model="$ctrl.instrument.params.gainEnv.decay.value"></slider>
      <slider param="$ctrl.instrument.params.gainEnv.sustain" ng-model="$ctrl.instrument.params.gainEnv.sustain.value"></slider>
      <slider param="$ctrl.instrument.params.gainEnv.release" ng-model="$ctrl.instrument.params.gainEnv.release.value"></slider>
    </fieldset>

    <fieldset>
      <legend>Filter</legend>

      <label><input type="checkbox" ng-model="$ctrl.instrument.params.filterEnv.enabled.value"> Enable</label>
      <slider param="$ctrl.instrument.params.filterEnv.amount" ng-model="$ctrl.instrument.params.filterEnv.amount.value"></slider>
      <slider param="$ctrl.instrument.params.filterEnv.delay" ng-model="$ctrl.instrument.params.filterEnv.delay.value"></slider>
      <slider param="$ctrl.instrument.params.filterEnv.attack" ng-model="$ctrl.instrument.params.filterEnv.attack.value"></slider>
      <slider param="$ctrl.instrument.params.filterEnv.hold" ng-model="$ctrl.instrument.params.filterEnv.hold.value"></slider>
      <slider param="$ctrl.instrument.params.filterEnv.decay" ng-model="$ctrl.instrument.params.filterEnv.decay.value"></slider>
      <slider param="$ctrl.instrument.params.filterEnv.sustain" ng-model="$ctrl.instrument.params.filterEnv.sustain.value"></slider>
      <slider param="$ctrl.instrument.params.filterEnv.release" ng-model="$ctrl.instrument.params.filterEnv.release.value"></slider>
    </fieldset>
  </fieldset>

  <fieldset>
    <legend>LFO</legend>

    <fieldset>
      <legend>Gain</legend>

      <slider param="$ctrl.instrument.params.gainLFO.delay" ng-model="$ctrl.instrument.params.gainLFO.delay.value"></slider>
      <slider param="$ctrl.instrument.params.gainLFO.attack" ng-model="$ctrl.instrument.params.gainLFO.attack.value"></slider>
      <select ng-options="item for item in $ctrl.instrument.params.gainLFO.type.values" ng-model="$ctrl.instrument.params.gainLFO.type.value"></select>
      <slider param="$ctrl.instrument.params.gainLFO.amount" ng-model="$ctrl.instrument.params.gainLFO.amount.value"></slider>
      <slider param="$ctrl.instrument.params.gainLFO.speed" ng-model="$ctrl.instrument.params.gainLFO.speed.value"></slider>
    </fieldset>
  </fieldset>
</div>
